body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  display: flex;
  flex-direction: column;
}

.containerLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:lightsteelblue;
  width: 500px;
  height: 260px;
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  
}

.containerMessages {
  display: flex;
  height:fit-content;
  align-items: center;
  flex-direction: column;
  background-color:lightsteelblue;
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  
}

.label {
  padding: 4px;
}

.textarea {
  margin: 0px;
  border-radius: 8px;
  height: 550px;
  width: 540px;
}

.input {
  border-radius: 8px;
  font-size: 1.5em;
  width: 50%;
}

.divMessages {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 219, 165);
  margin: 20px;
  padding: 10px; 
  /*min-width: 600px;*/
  max-width: 70%;
  min-height: 525px; 
  max-height: 525px;
  
  border: 1px solid #000;
  border-radius: 4px;
  overflow: scroll;
  overflow-x: hidden;
}



.divContainerMessage{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100wh; /* ultima actualizacion */
  padding: 10px; 
  border: 1px solid #000;
  border-radius: 4px;
}

.myMessage {
  background-color: rgb(124, 233, 124);
  align-self: flex-end;
  max-width: 50%;
  height: fit-content;
  word-wrap: break-word;
}

.otherMessages {
  background-color: whitesmoke;
  align-self: flex-start;
  max-width: 50%;
  height: fit-content;
  word-wrap: break-word;
}

.inputMessage {
  border-radius: 8px;
  font-size: 1.5em;
  min-width: 400px;
}

.button {  
  border-radius: 8px ;
  margin: 15px;
  min-width: 70px;
  width: 10%;
  height: 2rem;
  font-size: medium;
  font-weight: bold;
}

.switchOffButton {
  background-color: red;
  border-radius: 50px ;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: medium;
  font-weight: bold;
}

h1,h2 {
  margin: 2px;
}

p {
  margin: 4px;
}